body {
-webkit-user-select: none ! important;
background-color: black ! important;
color: white ! important;
}

.testata_red {
display:none ! important;
}

.bloccotreno, .bloccorisultato, .corpocentrale {
background-color: black ! important;
color: white ! important;
}

h1, h2 {
color: white ! important;
}

#footer {
display: none ! important;
}

div.bloccotreno br:first-of-type {
display: none;
}

.evidenziato, .giaeffettuate {
background-color: #003 ! important;
}

a, a.link {
color: #8ff ! important;
}

a.active {
color: #8ff ! important;
}

a.visited {
color: #f8f ! important;
}
