[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Quando Parte
Exec=/usr/bin/invoker --type=d -s /opt/quandoparte/bin/quandoparte
Icon=/usr/share/icons/hicolor/scalable/apps/quandoparte.svg
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
