div.header {
	margin: 1em auto;
	padding: 1em;
	background-color: #eee;
	border-radius: 1em;
	max-width: 80em;
}
div.header p {
	font-style: italic;
}
div.navigation {
	float: right;
	padding: 1em;
}
div.bodymatter {
	vertical-align: center;
	text-align: justify;
	text-justify: newspaper;
	max-width: 60em;
	margin: 2em auto;
}
#icon {
	margin: 6pt;
	float: left;
}
div.screenshot {
	margin: 10pt;
	padding: 12pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	text-align: center;
	width: 50%;
	border: none;
	background-color: #eee
}

div.screenshot p {
	font-style: italic;
	text-indent: 0pt;
}

div.screenshot img {
	width: 100%
}
