Source: quandoparte
Section: user/navigation
Priority: optional
Maintainer: Luciano Montanaro <mikelima@cirulla.net>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: www.cirulla.net/quandoparte

Package: quandoparte
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Virtual Arrivals and Departures board for Italian trains
 quandoparte uses the Trenitalia data to show arrivals and departures times
 of trains of a given station, with delay or suppression information.
